--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: driver_servicetype; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.driver_servicetype (
    driver_id uuid NOT NULL,
    servicetype_id uuid NOT NULL
);


ALTER TABLE public.driver_servicetype OWNER TO postgres;

--
-- Name: tb_driver; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tb_driver (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    namedriver character varying(256) NOT NULL,
    cnh character varying(9) NOT NULL,
    plate character varying(7) NOT NULL,
    yearcar integer NOT NULL,
    modelcar character varying(256) NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.tb_driver OWNER TO postgres;

--
-- Name: tb_rating; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tb_rating (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    rate integer NOT NULL,
    comment character varying(256),
    ride_id uuid NOT NULL,
    CONSTRAINT check_rate_range CHECK (((rate >= 1) AND (rate <= 5)))
);


ALTER TABLE public.tb_rating OWNER TO postgres;

--
-- Name: tb_ride; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tb_ride (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    startpoint character varying(256) NOT NULL,
    destiny character varying(256) NOT NULL,
    user_id uuid NOT NULL,
    driver_id uuid NOT NULL,
    servicetype_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    distance_km numeric(10,2) DEFAULT 0 NOT NULL,
    total_value numeric(10,2) DEFAULT 0 NOT NULL,
    payment_method character varying(50) DEFAULT 'pix'::character varying NOT NULL,
    ride_status character varying(50) DEFAULT 'in_progress'::character varying NOT NULL
);


ALTER TABLE public.tb_ride OWNER TO postgres;

--
-- Name: tb_servicetype; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tb_servicetype (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    category character varying(50) NOT NULL
);


ALTER TABLE public.tb_servicetype OWNER TO postgres;

--
-- Name: tb_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tb_user (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nameuser character varying(256) NOT NULL,
    cpf character varying(11) NOT NULL,
    phoneuser character varying(13),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.tb_user OWNER TO postgres;

--
-- Name: driver_servicetype driver_servicetype_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.driver_servicetype
    ADD CONSTRAINT driver_servicetype_pkey PRIMARY KEY (driver_id, servicetype_id);


--
-- Name: tb_driver tb_driver_cnh_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_driver
    ADD CONSTRAINT tb_driver_cnh_key UNIQUE (cnh);


--
-- Name: tb_driver tb_driver_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_driver
    ADD CONSTRAINT tb_driver_pkey PRIMARY KEY (id);


--
-- Name: tb_driver tb_driver_plate_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_driver
    ADD CONSTRAINT tb_driver_plate_key UNIQUE (plate);


--
-- Name: tb_rating tb_rating_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_rating
    ADD CONSTRAINT tb_rating_pkey PRIMARY KEY (id);


--
-- Name: tb_ride tb_ride_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_ride
    ADD CONSTRAINT tb_ride_pkey PRIMARY KEY (id);


--
-- Name: tb_servicetype tb_servicetype_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_servicetype
    ADD CONSTRAINT tb_servicetype_pkey PRIMARY KEY (id);


--
-- Name: tb_user tb_user_cpf_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_user
    ADD CONSTRAINT tb_user_cpf_key UNIQUE (cpf);


--
-- Name: tb_user tb_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_user
    ADD CONSTRAINT tb_user_pkey PRIMARY KEY (id);


--
-- Name: driver_servicetype fk_driver; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.driver_servicetype
    ADD CONSTRAINT fk_driver FOREIGN KEY (driver_id) REFERENCES public.tb_driver(id);


--
-- Name: driver_servicetype fk_driver_servicetype; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.driver_servicetype
    ADD CONSTRAINT fk_driver_servicetype FOREIGN KEY (servicetype_id) REFERENCES public.tb_servicetype(id);


--
-- Name: tb_rating fk_rating_ride; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_rating
    ADD CONSTRAINT fk_rating_ride FOREIGN KEY (ride_id) REFERENCES public.tb_ride(id);


--
-- Name: tb_ride fk_ride_driver; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_ride
    ADD CONSTRAINT fk_ride_driver FOREIGN KEY (driver_id) REFERENCES public.tb_driver(id);


--
-- Name: tb_ride fk_ride_servicetype; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_ride
    ADD CONSTRAINT fk_ride_servicetype FOREIGN KEY (servicetype_id) REFERENCES public.tb_servicetype(id);


--
-- Name: tb_ride fk_ride_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_ride
    ADD CONSTRAINT fk_ride_user FOREIGN KEY (user_id) REFERENCES public.tb_user(id);


--
-- PostgreSQL database dump complete
--

